azure-ai-ml==1.15.0
promptflow-azure>=1.12.0
azure-ai-resources>=1.0.0b8
azure-ai-generative[promptflow]>=1.0.0b8
promptflow-azure>=1.12.0
promptflow>=1.12.0
promptflow-tools>=1.4.0
promptflow-evals>=0.3.0
azure-identity==1.16.0
python-dotenv>=1.0.0
azureml-mlflow>=1.53.0
keyrings.alt
python-dotenv

