langchain
sympy
promptflow
promptflow[azure]
promptflow-tools
python-dotenv
azure-cli
azure-ai-ml
azure-identity
azure-keyvault-secrets
keyrings.alt
azureml-inference-server-http
Werkzeug
flake8-docstrings
flake8
pep8-naming
pytest-cov
pytest-azurepipelines
pytest-mock
pytest
bs4