
parameters:
 - name: exec_environment
   displayName: "Execution Environment"
   default: "dev"
 - name: model_type
   displayName: "type of model to execute"

stages:
    - stage: build_validation
      displayName: build_validation
      dependsOn: 
      - variable_generation
      variables:
      - template: templates/experiment_variables.yml
      jobs:
        - template: build_validation_pipeline.yml
          parameters:
            model_type: ${{ parameters.model_type }}
    - stage: execute_training_job
      displayName: execute_training_job
      dependsOn: 
      - variable_generation
      - build_validation
      variables:
      - template: templates/experiment_variables.yml
      jobs:
      - job: Execute_ml_Job_Pipeline
        steps:
        - template: templates/get_connection_details.yml
        - template: templates/configure_azureml_agent.yml
        - template: templates/register_data_asset.yml
          parameters:
            step_name: "register training data"
            script_parameter: |
              python -m mlops.common.register_data_asset \
                --subscription_id $(SUBSCRIPTION_ID) \
                --resource_group_name  $(RESOURCE_GROUP_NAME) \
                --workspace_name $(WORKSPACE_NAME) \
                --data_purpose "pr_data" \
                --data_config_path "$(DATA_CONFIG_PATH)" \
                --environment_name ${{ parameters.exec_environment }}  
        - template: templates/execute_mlops_pipeline.yml
          parameters:
            script_parameter: |
              python -m mlops.common.prompt_pipeline \
                --subscription_id "$(SUBSCRIPTION_ID)" \
                --resource_group_name $(RESOURCE_GROUP_NAME) \
                --workspace_name $(WORKSPACE_NAME) \
                --runtime_name $(RUNTIME_NAME) \
                --connection_name $(CONNECTION_NAME) \
                --deployment_name $(DEPLOYMENT_NAME) \
                --build_id $(BUILD.BUILDID) \
                --stage ${{parameters.exec_environment}} \
                --experiment_name $(EXPERIMENT_NAME) \
                --standard_flow_path $(STANDARD_FLOW_PATH) \
                --model_name $(MODEL_NAME) \
                --data_config_path "$(DATA_CONFIG_PATH)" \
                --data_purpose "pr_data" \
                --data_mapping $(DATA_MAPPING_CONFIG) \
                --output_file run_id.txt
