name: function_flows_ci_dev_workflow

on:
  workflow_call:
    inputs:
      env_name:
        type: string
        description: "Execution Environment"
        required: true
        default: "dev"
      use_case_base_path:
        type: string
        description: "The flow usecase to execute"
        required: true
        default: "function_flows"
      deployment_type:
        type: string
        description: "Determine type of deployment - aml, aks, docker, webapp"
        required: true
  push:
    branches:
      - main
      - development
    paths:
      - 'function_flows/**'
      - '.github/**'
      - 'llmops/**'

#=====================================
# Execute platform_ci_dev_workflow workflow for experiment, evaluation and deployment of flows
#=====================================
jobs:
  execute-platform-flow-ci:
    uses: ./.github/workflows/platform_ci_dev_workflow.yml
    with:
      env_name: ${{ inputs.env_name || 'dev'}}
      use_case_base_path: ${{ inputs.use_case_base_path || 'function_flows' }}
      deployment_type: ${{ inputs.deployment_type|| 'webapp' }}
    secrets:
      azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
      registry_details: ${{ secrets.DOCKER_IMAGE_REGISTRY }}
      env_vars: ${{ secrets.ENV_VARS }}
