name: web_classification_ci_dev_pipeline

on:
  workflow_call:
    inputs:
      env_name:
        type: string
        description: "Execution Environment"
        required: true
        default: "dev"
      flow_type:
        type: string
        description: "The flow usecase to execute"
        required: true
        default: "web_classification"
      deployment_type:
        type: string
        description: "Determine type of deployment - aml, aks, docker, webapp"
        required: true
  push:
    branches:
      - main
      - development
    paths:
      - '.github/**'
      - 'llmops/**'
      - 'web_classification/**'


#=====================================
# Execute platform_ci_dev_workflow workflow for experiment, evaluation and deployment of flows
#=====================================
jobs:
  execute-platform-flow-ci:
    uses: ./.github/workflows/platform_ci_dev_workflow.yml
    with:
      env_name: ${{ inputs.env_name || 'dev'}}
      flow_type: ${{ inputs.flow_type || 'web_classification' }}
      deployment_type: ${{ inputs.deployment_type|| 'aml' }}
    secrets:
      azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
