name: web_classification_pf_in_aml_pipeline_workflow.yml

on:
  workflow_call:
    inputs:
      env_name:
        type: string
        description: "Execution Environment"
        required: true
        default: "dev"
      use_case_base_path:
        type: string
        description: "The base path of the flow use-case to execute"
        required: true
        default: "web_classification"
    secrets:
      azure_credentials:
        description: "service principal authentication to Azure"
        required: true
  pull_request:
    branches:
      - main
      - development
jobs:
  flow-experiment-and_evaluation:
    name: prompt flow experiment and evaluation job in Azure ML
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.env_name }}
    env:
      RESOURCE_GROUP_NAME: ${{ vars.RESOURCE_GROUP_NAME }}
      WORKSPACE_NAME: ${{ vars.WORKSPACE_NAME }}
      COMPUTE_TARGET: ${{ vars.COMPUTE_TARGET }}
    steps:
      - name: Checkout Actions
        uses: actions/checkout@v4

      - name: Azure login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.azure_credentials }}

      - name: Configure Azure ML Agent
        uses: ./.github/actions/configure_azureml_agent

      - name: load the current Azure subscription details
        id: subscription_details
        shell: bash
        run: |
          export subscriptionId=$(az account show --query id -o tsv)
          echo "SUBSCRIPTION_ID=$subscriptionId" >> $GITHUB_OUTPUT

        #=====================================
        # Run Promptflow in AML Pipeline
        #=====================================      
      - name: Run Promptflow in AML Pipeline
        uses: ./.github/actions/execute_script
        with:
            step_name: "Run Promptflow in AML Pipeline"
            script_parameter: |
                python -m llmops.common.promptflow_in_aml_pipeline \
                --subscription_id ${{ steps.subscription_details.outputs.SUBSCRIPTION_ID }} \
                --env_name ${{ inputs.env_name || 'dev' }} \
                --base_path ${{ inputs.use_case_base_path || 'web_classification'}} \

